.head-carriere {
    height: 700px;
    background: rgb(155, 154, 154);
    border-radius: 5px;
    
}

.banniere {
  background: #000;
  height: 3rem;
  width: auto;
}

.head-content{
    display: flex;
    justify-content: space-around;
}

.semi-circle {
    height: 200px;
    width: 400px;
    background: #000;
    margin:  0 auto;
    border-bottom-left-radius: 50% 100% ;
    border-bottom-right-radius: 50% 100% ;
}

.text{
   
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
 .text1 {
     background: rgb(128, 128, 128);
     font-size: 20px;
     padding: 16px;
     font-style: italic;
     font-weight: 10;
     margin-left: -30px;
     
    
 }
 .text2 {
    background: rgb(211, 211, 211);
    padding: 12px;
    margin-left: 120px;
    color: rgb(36, 34, 34);
    font-size: 20px;
  
}
.box{
    height: 100px;
    width: auto;
    background: cornflowerblue;
    text-align: center;
    margin-left: 500px;
    margin-top: -80px;
   
}


.block {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.img {
    height: auto;
    flex-basis: 60%;
    border-radius: 15px;
    background: purple;
}
.right{
    height: auto;
     display: flex;
    flex-basis: 30%;
    flex-direction: column;
    border-radius: 15px;
    background: yellow;

}

.up {
    display: flex;
    flex-basis: 20%;
    justify-content: space-between;
    padding: 12px;
    
}

.logo {
    border-radius: 80px;
    background: #000;
    height: 30px;
    width: 30px;
}

.down{
    flex-basis: 70%;
    padding: 8px;
    text-align: justify;
    
}

@media(max-width:650px){
    .semi-circle{
        display: none;
    }

    .block{
        display: block;
    }
    .box{
        margin: auto;
        margin-top: 20px;

    }
    .right{
        margin-top: 10px;
    }

   
}


/* end code yann */

/* start code raphael  */

/* start block-two  */
body{
    font-size: 16px;    
    font-family: 'Roboto', sans-serif;
}
.block-two-r{
    background-color: orange;
    padding: 20px 50px;
    margin: 30px 0;
}
.under-block-r{
    margin: 20px 60px;
    background-color: #f3efe9;
    display: flex;
    height: 350px;

}
.item-one-r,.item-two-r,.item-three-r{
    background-color: white;
    margin-right: 2px;
    padding: 30px 20px;
}

.text-one-r,.text-two-r,.text-three-r{
    margin-bottom: 50px;
}
.item-three{
    margin-right: 0;
}
.button-one-r,.button-two-r,.button-three-r{
height: 50px;
width: 200px;
background-color: white;
border-radius: 5px;
margin-top: -40px;
margin-bottom: 20px;
}
.button-one-r:hover, .button-two-r:hover, .button-three-r:hover{
    background-color: #fe9900;
    font-weight: bold;
}



/* end block-two  */


/* start block-four  */

.item-four-r {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    padding-top: 0.2px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    margin-top: 30px;
    box-shadow: inset 0 0 1em rgb(255, 252, 252),0 0 0.5em black;
    opacity: 0.1px;
    border: transparent;
    border-radius: 5px;
    height: 80px;

  }
  
  .active, .item-four-r:hover {
    background-color: rgb(255, 255, 255);
  }
  
  .item-four-r:after {
    content: '\002192';
    color: #fe9900;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-top: -60px;
    transition: 0.3s;
  }
  
  .active:after {
    content: "\002193";
    transition: 0.3s;
  }
  
  .content {
    padding:0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #fe9900;
    width: 100%;
    box-shadow: inset 0 0 1em rgb(255, 252, 252),0 0 0.5em black;
    opacity: 0.1x;
    border: transparent;
    border-radius: 5px;
    font-weight: bold;

  }
  .block-four-r{
      padding: 30px 60px;
  }
  .title-four-r{
      font-size: 20px;
  }

  /* end block-four  */

  /* start mediaquery  */

 @media screen and (max-width:992px) {
     .under-block-r{
         height: auto;
         flex-direction: column;
        

     }
     .item-one-r ,.item-two-r{
         margin-bottom: 3px;
     }
 }
 @media screen and (max-width:638px) {
    .block-two-r{
        padding: 20px 20px;
 }
 .item-four-r{
     height: auto;
 }
 .block-four-r{
     padding: auto ;
 }
 .button-one-r,.button-two-r,.button-three-r{
    height: 50px;
    width: 150px;
}
.block-four-r{
    padding: 10px ;
}
.item-four-r{
    height: auto;
}
.title-one-r{
    margin-bottom: -10px;
}
 }
 @media screen and (max-width:360px) {
    .block-four-r{
        padding: 10px ;
    }
    .button-one-r,.button-two-r,.button-three-r{
        height: 50px;
        width: 150px;
    }
    .item-four-r:after {
        margin-left: -2px;
        margin-top: -90px;
      }
 }
 @media screen and (max-width:375px) {
   
    .button-one-r,.button-two-r,.button-three-r{
        height: 50px;
        width: 150px;
    }
        .item-four-r:after {
            margin-left: -2px;
            margin-top: -90px;
          }
    }

@media screen and (max-width:353px) {
    .button-one-r,.button-two-r,.button-three-r{
        height: 50px;
        width: 150px;
    }
    .item-four-r:after {
         margin-left: -2px;
        margin-top: -90px;
          }

    }
    .block-two-r{
        background-color: orange;
        padding: 20px 1px;
    }
    .item-four-r:after {
        margin-left: -2px;
        margin-top: -90px;
      }

@media screen and (max-width:312px) {
    .button-one-r,.button-two-r,.button-three-r{
        height: 50px;
        width: 100px;

    }
    .block-two-r{
        background-color: orange;
        padding: 20px 1px;
    }
    .item-four-r:after {
        margin-left: -2px;
        margin-top: -90px;
      }
}

  /* end mediaquery  */

    /* end code raphael  */

